body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #666;
    background-color: white;
    color: black;
    background-image: url(../img/ConsultingIMG.jpg);
    background-repeat: no-repeat;
    background-size: 1600px 680px;
    font-family: 'Roboto', sans-serif;
}

/* Home specific style */



.titletext{
    top: 50%;
    width: 100%;
    color: #ffffff;
    font-size: 350%;
    text-shadow: none;
    line-height: 1.2;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    font-weight: 600;
    margin: 200px 0px;
}

#homeh1{
    color: rgba(0,154,68,255);
    margin-top: 50px;
    font-size: 24pt;
    font-weight: 700;
    padding-bottom: 40px;
}

#homep{
    font-size: 15pt;
    margin-left: 150px;
    margin-right: 150px;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

#homequote{
    font-weight: 800;
}

#homeabout{
    font-size: 20px;
}

/* Services specific style */

.column{
    color: rgba(0,154,68,255);
    margin: 10px 30px;
}

#servicesh1{
    top: 50%;
    width: 100%;
    color: #ffffff;
    font-size: 350%;
    text-shadow: none;
    line-height: 1.2;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    font-weight: 600;
    margin: 250px 0px 290px 0px;
}

.servicestext{
    color: black;
}

.serviceslists{
    list-style-type: square;
    display: list-item;
    padding-left: 30px;
    line-height: 2;
    font-size: 16px;
}

.servicessublists{
    list-style-type: circle;
    display: list-item;
    margin-left: 30px;
}

/* Licenses specific style */

.center{
    margin: 10px auto 20px;
    display: block;
}

.licensesimgs1{
    height: 150px;
    object-fit: cover;
    margin: 100px 0 0 20px;
}

.licensesimgs2{
    height: 280px;
    object-fit: cover;
    margin: 30px 0 0 20px;
}

#licensesh1{
    top: 50%;
    width: 100%;
    color: #ffffff;
    font-size: 350%;
    text-shadow: none;
    line-height: 1.2;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    font-weight: 600;
    margin: 250px 0px 250px 0px;
}


/* Navbar specific style */

#homelink{
    margin-left: 200px;
}

#navbutton{
    background-color: rgba(0,154,68,255);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    padding: 8px 15px 8px 15px;
    color: white;
    margin-left: 100px;
}

#navbutton:hover{
    background-color: white;
    color: rgba(0,154,68,255);
}

.navbar-nav{
    font-weight: 700;
    font-size: large;
}

#navbarimg{
    height: 80px;
    width: 250px;
    margin-left: 200px;
    margin-top: -13px;
}

.navbar-toggler{
    background-color: rgba(0,154,68,255);
}

.navbar{
    width: 100%;
    top: 0; 
    z-index: 5;
}

.nav-item{
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-left: 30px;
    transition: 0.50s ease;
    margin-top: -25px;
}

    .nav-item:hover, .active {
    color: rgb(146, 146, 146);
}

    .navbar-brand{
    color:white;
    font-weight: bold;
}

/* Contact specific style */

#contacth1{
    top: 50%;
    width: 100%;
    color: #ffffff;
    font-size: 350%;
    text-shadow: none;
    line-height: 1.2;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    font-weight: 600;
    margin: 250px 0px 270px 0px;
}

#contactbutton{
    border-color: black;
    color: black;
    background-color: white;
    margin-left: 15px;
}

#contactform{
    text-align: center;
    display: inline;
}

#contactbutton:hover{
    border-color: rgba(0,154,68,255);
    background-color: rgba(0,154,68,255);
    color: white;
}

#contactprofileimg{
    border-radius: 90%;
    height: 180px;
    object-fit: cover;
    margin: 30px 0 0 20px;
}

#contactcards{
    margin: 50px 0px 15px 30px;
}

.cardtext{
    text-align: center;
}

/* Footer specific style */

.footer{

    margin-top: auto;
    text-align: center;
    width: 100%;
    bottom: 0;
    opacity: 80%;
    left: 0;
    bottom: 0;
}


  /* Style the icon bar links */
.icon-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 20px;
        margin: 0px 250px 2px 1200px; 
        border-radius: 90%;
}

    /* Style the social media icons with color, if you want */
.icon-bar a:hover {
    background-color: #000;
}

.instagram {
    background: #404040;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}
    .facebook {
        background: #385898;
        color: white;
    }

@media(max-width: 568px) {
    .pimg1{
        background-attachment: scroll;
    }
    #navbarimg{
        height: 100px;
        width: 200px;
        margin-left: -10px;
    }
}