body, html{
    height: 100%;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    background-color: white;
    color: black;
}

/* Home specific style */

.pimg1{
    position:relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.pimg1{
    background-image: url(../img/ConsultingIMG.jpg);
    height: 350px;
    min-height: 100%;
    background-repeat: no-repeat;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 550;
}

.ptext .border{
    background-color: white;
    padding: 20px;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

#homequote{
    font-weight: 800;
}

#homeabout{
    font-size: 20px;
}

/* Services specific style */

.serviceslists{
    list-style-type: square;
    display: list-item;
    padding-left: 30px;
}

.servicessublists{
    list-style-type: circle;
    display: list-item;
    margin-left: 30px;
}

/* Licenses specific style */

.licenseslists{
    list-style-type: square;
    display: list-item;
    padding-left: 30px;
}


/* Navbar specific style */


.navbar-nav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: larger;
}

#navbarimg{
    height: 90px;
    width: 300px;
    margin-left: -10px;
}

.navbar-toggler{
    background-color:white;
}

.navbar{
    width: 100%;
    top: 0; 
    z-index: 5;
    background-color: rgba(0,154,68,255);
}

.nav-item{
    color: white;
    margin-left: 50px;
    transition: 0.75s ease;
}

    .nav-item:hover {
    border-radius: 5px;
    color: rgba(0,154,68,255);
    background-color: white;
    padding: 10px 0px 15px;
}

    .navbar-brand{
    color:white;
    font-weight: bold;
}

/* Contact specific style */

#contactbutton{
    border-color: black;
    color: black;
    background-color: white;
    margin-left: 15px;
}

#contactbutton:hover{
    border-color: rgba(0,154,68,255);
    background-color: rgba(0,154,68,255);
    color: white;

}

/* Footer specific style */

.footer{
    margin-top: auto;
    text-align: center;
    width: 100%;
    bottom: 0;
    opacity: 80%;
    left: 0;
    bottom: 0;
}


@media(max-width: 568px) {
    .pimg1{
        background-attachment: scroll;
    }
    #navbarimg{
        height: 100px;
        width: 200px;
        margin-left: -10px;
    }
}